body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 14px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Navbar */

.navbar-inverse {
    background-color: #092266;
    border-color: #092266;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #b3ffff;
        }


a.navbar-brand {
    width: 125px;
    margin-left: 2em;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

    a.navbar-brand > img {
        width: 125px;
        position: relative;
        top: -0.4em;
    }

/* Typography */

h1, h2, h3, h4, h5, h6 {
    color: #092266;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em !important;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

/* Tables */
table.table {
    font-size: 0.8em;
}

    table.table thead tr {
        background-color: #666 !important;
    }

    table.table thead th {
        text-transform: capitalize;
        font-size: 1.1em;
        color: #ffffff;
    }

    table.table tr:nth-of-type(odd) {
        background-color: #dedede;
    }

    table.table tr:hover {
        background-color: #feee98;
    }

    table.table td, table.table tr {
        border: 0 !important;
    }

    table.table .email-info {
        text-align: center;
    }

        table.table .email-info span {
            font-size: 1.5em;
            color: #0263c4;
        }

/* Search Form */
#adv-search {
    width: 300px;
    display: inline-flex;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

button.dropdown-toggle {
    margin-left: 0 !important;
    padding: 6px 12px;
    display: inline-block;
    height: 34px;
}

#searchmenu {
    width: 351px;
    position: absolute;
    left: -278px;
    padding: 5px;
}

    #searchmenu label, #searchmenu select, #searchmenu button, #searchmenu input {
        display: block !important;
        border-radius: 2px;
    }

        #showRecords {
            display: inline-block;
            float: right;
            width: 200px;
            text-align: right;
        }
        #showRecords select {
            width: 75px !important;
            display: inline-block;
        }
/* Footer */
footer {
    color: #666;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    #adv-search {
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 500px;
        }
}
