@model SendGrid_Log.Models.EmailEvent

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>EmailEvent</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Response" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Response" class="form-control" />
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventID" class="form-control" />
                <span asp-validation-for="EventID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MessageID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MessageID" class="form-control" />
                <span asp-validation-for="MessageID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventType" class="form-control" />
                <span asp-validation-for="EventType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Timestamp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SmtpID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SmtpID" class="form-control" />
                <span asp-validation-for="SmtpID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UniqueArgKey" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UniqueArgKey" class="form-control" />
                <span asp-validation-for="UniqueArgKey" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Categories" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Categories" class="form-control" />
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Newsletter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Newsletter" class="form-control" />
                <span asp-validation-for="Newsletter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ASMGroupID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ASMGroupID" class="form-control" />
                <span asp-validation-for="ASMGroupID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Reason" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IP" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IP" class="form-control" />
                <span asp-validation-for="IP" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TLS" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TLS" class="form-control" />
                <span asp-validation-for="TLS" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cert_Err" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cert_Err" class="form-control" />
                <span asp-validation-for="Cert_Err" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserAgent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserAgent" class="form-control" />
                <span asp-validation-for="UserAgent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="URL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="URLOffset" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="URLOffset" class="form-control" />
                <span asp-validation-for="URLOffset" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Attempt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Attempt" class="form-control" />
                <span asp-validation-for="Attempt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MarketingCampaignID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MarketingCampaignID" class="form-control" />
                <span asp-validation-for="MarketingCampaignID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MarketingCampaignName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MarketingCampaignName" class="form-control" />
                <span asp-validation-for="MarketingCampaignName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MarketingCampaignVersion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MarketingCampaignVersion" class="form-control" />
                <span asp-validation-for="MarketingCampaignVersion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MarketingCampaignSplitID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MarketingCampaignSplitID" class="form-control" />
                <span asp-validation-for="MarketingCampaignSplitID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostType" class="form-control" />
                <span asp-validation-for="PostType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
