@model List<SendGrid_Log.Models.EmailEvent>

@{
    ViewData["Title"] = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
    $("button#SendEvent").click(function () {
        console.log("Send Event Clicked");
        //JSON data
        var data =
            {
                "sg_event_id": "sendgrid_internal_event_id",
                "sg_message_id": "sendgrid_internal_message_id",
                "email": "email@example.com",
                "timestamp": 1249948800,
                "smtp-id": "<original-smtp-id@domain.com>",
                "unique_arg_key": "unique_arg_value",
                "category": ["category1", "category2"],
                "event": "processed",
                "newsletter": {
                    "newsletter_user_list_id": "10557865",
                    "newsletter_id": "1943530",
                    "newsletter_send_id": "2308608"
                },
                "asm_group_id": 1,
                "send_at": 1249949000
            };
        //console.log(data);
        console.log('Submitting form...');
        $.ajax({
            url: "LogEvent",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (result) {
                console.log(result);
                if (result == 1) {
                    window.location.replace("@Url.Action("Index", "Home")");
                } else {
                    $("Result").text(result);
                }
            },
            error: function (xhRequest, ErrorText, thrownError) {
                alert("Failed to process events");
                console.log('xhRequest: ' + xhRequest + "\n");
                console.log('ErrorText: ' + ErrorText + "\n");
                console.log('thrownError: ' + thrownError + "\n");
            }
        });

    });

});
</script>
<h2>Create</h2>

<button id="SendEvent">Send Event</button>

<div id="Result">

</div>
<div>
    <a href="@Url.Action("Index","Home")">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
