@model List<SendGrid_Log.Models.EmailEvent>

@{
    ViewData["Title"] = "Create";
}
<script type="text/javascript">
    $(document).ready(function () {
    $("button#SendEvent").click(function () {
        console.log("Send Event Clicked");
        //JSON data
        var data =
            [
                {
                "sg_event_id": "13",
                "sg_message_id": "sendgrid_internal_message_id",
                "email": "email@example.com",
                "timestamp": 1249948800,
                "smtp-id": "<original-smtp-id@domain.com>",
                "unique_arg_key": "unique_arg_value",
                "category": ["category1", "category2"],
                "event": "processed",
                "newsletter": {
                    "newsletter_user_list_id": "10557865",
                    "newsletter_id": "1943530",
                    "newsletter_send_id": "2308608"
                },
                "asm_group_id": 1,
                "send_at": 1249949000
            },
                {
                    "sg_event_id": "14",
                    "sg_message_id": "sendgrid_internal_message_id",
                    "email": "email@example.com",
                    "timestamp": 1249948800,
                    "unique_arg_key": "unique_arg_value",
                    "category": ["category1", "category2"],
                    "event": "spamreport",
                    "asm_group_id": 1
                },
                {
                    "sg_event_id": "15",
                    "sg_message_id": "3",
                    "email": "email@example.com",
                    "timestamp": 1249948800,
                    "unique_arg_key": "unique_arg_value",
                    "category": ["category1", "category2"],
                    "event": "unsubscribe",
                    "asm_group_id": 1
                },
                {
                    "sg_event_id": "16",
                    "sg_message_id": "4",
                    "email": "email@example.com",
                    "timestamp": 1249948800,
                    "unique_arg_key": "unique_arg_value",
                    "category": ["category1", "category2"],
                    "event": "group_unsubscribe",
                    "asm_group_id": 1,
                    "useragent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36",
                    "ip": "255.255.255.255"
                },
                {
                    "sg_event_id": "17",
                    "sg_message_id": "5",
                    "email": "email@example.com",
                    "timestamp": 1249948800,
                    "unique_arg_key": "unique_arg_value",
                    "category": ["category1", "category2"],
                    "event": "group_resubscribe",
                    "asm_group_id": 1,
                    "useragent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36",
                    "ip": "255.255.255.255"
                },
                {
                    "category": [],
                    "email": "email@example.com",
                    "event": "processed",
                    "marketing_campaign_id": 12345,
                    "marketing_campaign_name": "campaign name",
                    "post_type": "event",
                    "sg_event_id": "186",
                    "sg_message_id": "sendgrid_internal_message_id",
                    "sg_user_id": 12345,
                    "smtp-id": "",
                    "timestamp": 1442349428
                },
                {
                    "category": [],
                    "email": "tadpole_0010@stbase-018.sjc1.sendgrid.net",
                    "event": "processed",
                    "marketing_campaign_id": 23314,
                    "marketing_campaign_name": "unique args ab",
                    "marketing_campaign_version": "B",
                    "marketing_campaign_split_id": 13471,
                    "post_type": "event",
                    "sg_event_id": "19",
                    "sg_message_id": "5lFl7Fr1Rjme_EyzNNB_5A.stfilter-015.5185.55F883172.0",
                    "sg_user_id": 939115,
                    "smtp-id": "<5lFl7Fr1Rjme_EyzNNB_5A@stismtpd-006.sjc1.sendgrid.net>",
                    "timestamp": 1442349848
                },
                {
                    "category": [],
                    "email": "tadpole_0001@stbase-018.sjc1.sendgrid.net",
                    "event": "delivered",
                    "marketing_campaign_id": 23314,
                    "marketing_campaign_name": "unique args ab",
                    "post_type": "event",
                    "response": "250 Ok ",
                    "sg_event_id": "20",
                    "sg_message_id": "fPJrJPIRTxC_obpgfTy74w.stfilter-015.5185.55F883564.0",
                    "sg_user_id": 12345,
                    "smtp-id": "",
                    "timestamp": 1442349911
                },
                {
                    "response": "250 OK",
                    "sg_event_id": "21",
                    "sg_message_id": "sendgrid_internal_message_id",
                    "event": "delivered",
                    "email": "email@example.com",
                    "timestamp": 1249948800,
                    "smtp-id": "<original-smtp-id@domain.com>",
                    "unique_arg_key": "unique_arg_value",
                    "category": ["category1", "category2"],
                    "newsletter": {
                        "newsletter_user_list_id": "10557865",
                        "newsletter_id": "1943530",
                        "newsletter_send_id": "2308608"
                    },
                    "asm_group_id": 1,
                    "ip": "127.0.0.1",
                    "tls": "1",
                    "cert_err": "1"
                },
                {
                    "response": "400 Try again",
                    "sg_event_id": "22",
                    "sg_message_id": "sendgrid_internal_message_id",
                    "event": "deferred",
                    "email": "email@example.com",
                    "timestamp": 1249948800,
                    "smtp-id": "<original-smtp-id@domain.com>",
                    "unique_arg_key": "unique_arg_value",
                    "category": ["category1", "category2"],
                    "attempt": "10",
                    "newsletter": {
                        "newsletter_user_list_id": "10557865",
                        "newsletter_id": "1943530",
                        "newsletter_send_id": "2308608"
                    },
                    "asm_group_id": 1,
                    "ip": "127.0.0.1",
                    "tls": "0",
                    "cert_err": "0"
                },
                {
                    "sg_event_id": "231",
                    "sg_message_id": "sendgrid_internal_message_id",
                    "ip": "255.255.255.255",
                    "useragent": "Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53",
                    "event": "click",
                    "email": "email@example.com",
                    "timestamp": 1249948800,
                    "url": "http://yourdomain.com/blog/news.html",
                    "url_offset": {
                        "index": 0,
                        "type": "html"
                    },
                    "unique_arg_key": "unique_arg_value",
                    "category": ["category1", "category2"],
                    "newsletter": {
                        "newsletter_user_list_id": "10557865",
                        "newsletter_id": "1943530",
                        "newsletter_send_id": "2308608"
                    },
                    "asm_group_id": 1
                },
                {
                    "status": "5.0.0",
                    "sg_event_id": "24",
                    "sg_message_id": "sendgrid_internal_message_id",
                    "event": "bounce",
                    "email": "email@example.com",
                    "timestamp": 1249948800,
                    "smtp-id": "<original-smtp-id@domain.com>",
                    "unique_arg_key": "unique_arg_value",
                    "category": ["category1", "category2"],
                    "newsletter": {
                        "newsletter_user_list_id": "10557865",
                        "newsletter_id": "1943530",
                        "newsletter_send_id": "2308608"
                    },
                    "asm_group_id": 1,
                    "reason": "500 No Such User",
                    "type": "bounce",
                    "ip": "127.0.0.1",
                    "tls": "1",
                    "cert_err": "0"
                }];
        //console.log(data);
        console.log('Submitting form...');
        $.ajax({
            url: "LogEvent",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (result) {
                console.log(result);
                if (result == 1) {
                    window.location.replace("@Url.Action("Index", "Home")");
                } else {
                    $("Result").text(result);
                }
            },
            error: function (xhRequest, ErrorText, thrownError) {
                alert("Failed to process events");
                console.log('xhRequest: ' + xhRequest + "\n");
                console.log('ErrorText: ' + ErrorText + "\n");
                console.log('thrownError: ' + thrownError + "\n");
            }
        });

    });

});
</script>
<h2>Create</h2>

<button id="SendEvent">Send Event</button>

<div id="Result">

</div>
<div>
    <a href="@Url.Action("Index","Home")">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
