@model SendGrid_Log.Models.EmailEvent

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="LogEvent">
    
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
